<h2 align="center">Loan Details</h2>

<div class="form-group col-md-6">
<input type="text" class="form-control"  placeholder="Enter Address"[(ngModel)]="cs.ld.loanPrincipalAmt">
</div>
<br>
<div class="form-group col-md-6">
  <input type="text" class="form-control"  placeholder="Enter  rollno" [(ngModel)]="cs.ld.loanTenure">
</div><br>
<div class="form-group col-md-6">
  <input type="text" class="form-control"  placeholder="Enter  name" [(ngModel)]="cs.ld.rateOfInterest">
</div>
<br>
<div class="form-group col-md-6">
<input type="text" class="form-control"  placeholder="Enter Loan status"[(ngModel)]="cs.ld.status">
</div>
<br>
<div class="form-group col-md-6">
  <input type="text" class="form-control"  placeholder="Enter  emiAmtMonnthly" [(ngModel)]="cs.ld.emiDetails.emiAmtMonnthly">
</div><br>
 <div class="form-group col-md-6">
  <input type="text" class="form-control"  placeholder="Enter  emiDueDate" [(ngModel)]="cs.ld.emiDetails.emiDueDate">
</div>
<br>
<div class="form-group col-md-6">
<input type="text" class="form-control"  placeholder="Enter previousEmiStatus"[(ngModel)]="cs.ld.emiDetails.previousEmiStatus">
<!-- <br><br><button (click)="onnext()">next</button> &nbsp; -->
<!-- <td><button type="button" class="btn btn-success" (click)="saveLoanDetails(cs.ld)">save</button> -->
</div>
<br>


