

<table class="table table-dark">
    <thead>
        
        <th> applicantid </th>
        <th> applicant_name </th>
        <th> applicant_occupation </th>
        <th> applicant_pancard</th>
        <th> applicant_email</th>
        <th> Generate-cibil </th>
        <th>Cibil-Score</th>
        <th>   Action </th>
        <th>   Action </th>
    </thead>

    <tbody *ngIf=retriveApp>
    <tr *ngFor="let app of retriveApp">
       
    <td>{{app.applicantid}}</td>
    <td>{{app.applicantname}}</td>
    <td>{{app.applicantoccupation}}</td>
    <td>{{app.applicantpancard}}</td>
    <td>{{app.applicantemail}}</td>
    <td ><button type="button"  (click)="checkcibil(app.applicantid)">checkcibil</button></td>
     <td *ngIf="app  !=null">{{fc}}</td> 
        <td><button type="button" class="btn btn-success" (click)="approved(fc,app.applicantid)">Approved </button>
        </td>
        <td><button type="button" class="btn btn-danger">Rejected</button></td>
        
        <!-- <td>{{}}</td> -->

<!-- </tbody> -->

</table>

