<p>apnaloan-details works!</p>
<div class="container">
    <div class="row">
    
     <div class="form-group col-md-6">
          <input type="text" class="form-control"  placeholder="Enter  customer_name" [(ngModel)]="cs.c.customer_name">
      </div><br> 
      <div class="form-group col-md-6">
          <input type="text" class="form-control"  placeholder="Enter  customer_address" [(ngModel)]="cs.c.customer_address">
      </div>
    <br>
    
    <div class="form-group">
        <input type="text" class="form-control"  placeholder="Enter customer_age"[(ngModel)]="cs.c.customer_age">
    </div>
    <br>
    
    <div class="form-group col-md-6">
        <input type="text" class="form-control"  placeholder="Enter  customer_email" [(ngModel)]="cs.c.customer_email">
    </div><br> -->
    <div class="form-group col-md-6">
        <input type="text" class="form-control"  placeholder="Enter  customer_gender" [(ngModel)]="cs.c.customer_gender">
    </div>
  <br>
  
  <div class="form-group">
      <input type="text" class="form-control"  placeholder="Enter customer_mobno"[(ngModel)]="cs.c.customer_mobno">
  </div>
  <br>
  <div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  proffession_name" [(ngModel)]="cs.c.profession.proffession_name">
</div><br> -->
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  proffession_type" [(ngModel)]="cs.c.profession.proffession_type">
</div>
<br>

<div class="form-group">
  <input type="text" class="form-control"  placeholder="Enter designation"[(ngModel)]="cs.c.profession.designation">
</div>
<br>
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  annual_salary" [(ngModel)]="cs.c.profession.annual_salary">
</div><br> -->
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  property_address" [(ngModel)]="cs.c.propertyDetails.property_address">
</div>
<br>

<div class="form-group">
  <input type="text" class="form-control"  placeholder="Enter property_area"[(ngModel)]="cs.c.propertyDetails.property_area">
</div>
<br>
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  property_price" [(ngModel)]="cs.c.propertyDetails.property_price">
</div><br> -->
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  property_type" [(ngModel)]="cs.c.propertyDetails.property_type">
</div>
<br>

<div class="form-group">
  <input type="text" class="form-control"  placeholder="Enter account_holdername"[(ngModel)]="cs.c.accountDetails.account_holdername">
</div>
<br>
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  account_type" [(ngModel)]="cs.c.accountDetails.account_type">
</div><br> -->
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  ifsc_code " [(ngModel)]="cs.c.accountDetails.ifsc_code">
</div>
<br>

<!-- <div class="form-group">
  <input type="text" class="form-control"  placeholder="Enter Address"[(ngModel)]="cs.c.loanDetails.loanPrincipalAmt">
</div>
<br>
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  rollno" [(ngModel)]="cs.c.loanDetails.loanTenure">
</div><br> -->
<!-- <div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  name" [(ngModel)]="cs.c.loanDetails.rateOfInterest">
</div>
<br>

<div class="form-group">
  <input type="text" class="form-control"  placeholder="Enter Address"[(ngModel)]="cs.c.loanDetails.status">
</div>
<br>
<div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  rollno" [(ngModel)]="cs.c.loanDetails.emiDetails.emiAmtMonnthly">
</div><br> -->
<!-- <div class="form-group col-md-6">
    <input type="text" class="form-control"  placeholder="Enter  name" [(ngModel)]="cs.c.loanDetails.emiDetails.emiDueDate">
</div>
<br>

<div class="form-group">
  <input type="text" class="form-control"  placeholder="Enter Address"[(ngModel)]="cs.c.loanDetails.emiDetails.previousEmiStatus">
</div>
<br> -->
      <div class="form-group"> 
          <button class="btn btn-success btn-lg btn-block" (click)="submitData(cs.c)">Submit</button>
      </div>
    
      <!-- <div class="form-group"> 
          <button class="btn btn-warning btn-lg btn-block" (click)="resetData()">reset</button>
      </div> -->
    </div>
