<!-- <p>approved-list works!</p> -->

<table class="table table-dark">
    <thead>
        
        <th> Id </th>
        <th> Photo </th>
        <th> Name </th>
        <th> Email</th>
        <th>   Mobno </th>
        <th>   Action </th>
        <th>   Action </th>
        <th>   Action </th>
        
    </thead>

    <tbody *ngIf=retriveDoc>
    <tr *ngFor="let c of retriveDoc">
       
    <td>{{c.customerid}}</td>
    <td><img [src]="'data:image/jpeg;base64,'+c.photo" height="150"></td>
    <td>{{c.customername}}</td>
    <td>{{c.customeremail}}</td>
  
    <td>{{c.customermobno}}</td>
        <td><button type="button" class="btn btn-info" (click)="checkEmi(c.customerid)">Check EMI</button>
        </td>
        
        <td><button type="button" class="btn btn-success" (click)="approved(c)">Approved </button>
        </td>
        <td><button type="button" class="btn btn-danger" (click)="reject(c)" >Rejected</button>
        </td>
    
  </tr>
</tbody>

</table>