 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<div class="container">
<div class="row clearfix">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card agent">
            <div class="agent-avatar"> 
                <a href="agent-profile.html"> 
                	<img src="https://bootdey.com/img/Content/avatar/avatar5.png" class="img-fluid " alt=""> 
            	</a> 
           	</div>
            <div class="agent-content">
                <div class="agent-name">
                    <h4 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">Vrushali kumbhar</h4>
                    <span>Fairview, Texas</span>
                </div>
                <ul class="agent-contact-details">
                    <li><i class="zmdi zmdi-phone"></i><span>(123) 123-456</span></li>
                    <li><i class="zmdi zmdi-email"></i>info@example.com</li>
                </ul>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
     <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card agent">
            <div class="agent-avatar"> 
            	<a href="agent-profile.html"> <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid " alt=""> </a> </div>
            <div class="agent-content">
                <div class="agent-name">
                    <h4 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
                        Shirish Patil</h4>
                    <span>Bristol, Pennsylvania</span>
                    </div>
                <ul class="agent-contact-details">
                    <li><i class="zmdi zmdi-phone"></i><span>(123) 123-456</span></li>
                    <li><i class="zmdi zmdi-email"></i>info@example.com</li>
                </ul>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
     <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card agent">
            <div class="agent-avatar"> 
            	<a href="agent-profile.html"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid " alt=""> </a> </div>
            <div class="agent-content">
                <div class="agent-name">
                    <h4 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
                Pankaj Shinde</h4>
                    <span>Springfield, Florida</span>
                    
                </div>
                <ul class="agent-contact-details">
                    <li><i class="zmdi zmdi-phone"></i><span>(123) 123-456</span></li>
                    <li><i class="zmdi zmdi-email"></i>info@example.com</li>
                </ul>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
     <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card agent">
            <div class="agent-avatar"> <a href="agent-profile.html"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid " alt=""> </a> </div>
            <div class="agent-content">
                <div class="agent-name">
                    <h4 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
                        pankaj Waghmare</h4>
                    <span>Washington, Illinois</span>
                    
                </div>
                <ul class="agent-contact-details">
                    <li><i class="zmdi zmdi-phone"></i><span>(123) 123-456</span></li>
                    <li><i class="zmdi zmdi-email"></i>info@example.com</li>
                </ul>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card agent">
            <div class="agent-avatar"> <a href="agent-profile.html"> <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-fluid " alt=""> </a> </div>
            <div class="agent-content">
                <div class="agent-name">
                    <h4 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
                        Gaurav Patil</h4>
                    <span>Washington, Illinois</span>
                    
                </div>
                <ul class="agent-contact-details">
                    <li><i class="zmdi zmdi-phone"></i><span>(123) 123-456</span></li>
                    <li><i class="zmdi zmdi-email"></i>info@example.com</li>
                </ul>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card agent">
            <div class="agent-avatar"> <a href="agent-profile.html"> <img src="assets/image/Snapchat-1189940621.jpg" class="img-fluid " alt=""> </a> </div>
            <div class="agent-content">
                <div class="agent-name">
                    <h4 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
                        Vaishali patil</h4>
                    <span>Ambernath, Mumbai</span>
</div>
                <ul class="agent-contact-details">
                    <li><i class="zmdi zmdi-phone"></i><span>(123) 123-456</span></li>
                    <li><i class="zmdi zmdi-email"></i>info@example.com</li>
                </ul>
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="zmdi zmdi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>