<footer class="text-center text-lg-start bg-white text-muted">
    <br>
    
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h2 class="text-uppercase fw-bold mb-4" style="color: red;"><u><b>
              <i class="fas fa-gem me-3 text-secondary"></i>APNA HOME LOAN
            </b></u></h2>
            <h6 class="text-uppercase fw-bold mb-4" style="color: rgb(160, 65, 65);background-color: rgb(230, 219, 219);"><b>
              10 Karvenagar, pune, Maharashtra,411052,India</b></h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: black;background-color: darkgray;"><b>
              Employee
            </b></h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
              Vrushali kumbhar
            </h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
              Shirish Patil
            </h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
             Pankaj Shinde
            </h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
              Pankaj Waghmare
            </h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
              Gaurav Patil
            </h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
              Vaishali Patil
            </h6>
                    </div>
          <!-- Grid column -->
  
          
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" style="color: black;background-color: darkgray;"><b>
             Contact
            </b></h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
              8956231245
            </h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;">
              apnahomeloan@gmail.com
            </h6>
            <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;"> + 01 234 567 88</h6>
              <h6 class="text-uppercase fw-bold mb-3" style="color: rgb(82, 85, 238); background-color: aliceblue;"> + 01 234 567 89</h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->